@font-face {
  font-family: 'AlibabaPuHuiTiR';
  src: url('http://innovation-uat.oss-cn-hangzhou.aliyuncs.com/fonts/AlibabaPuHuiTiR.otf');
}
@font-face {
  font-family: 'AlibabaPuHuiTiB';
  src: url('http://innovation-uat.oss-cn-hangzhou.aliyuncs.com/fonts/AlibabaPuHuiTiB.otf');
}
@font-face {
  font-family: 'AlibabaPuHuiTiM';
  src: url('http://innovation-uat.oss-cn-hangzhou.aliyuncs.com/fonts/AlibabaPuHuiTiM.otf');
}
@font-face {
  font-family: 'FFDINPro-Medium';
  src: url('http://innovation-uat.oss-cn-hangzhou.aliyuncs.com/fonts/FFDINPro-Medium.otf');
}
@font-face {
  font-family: 'FFDINPro';
  src: url('http://innovation-uat.oss-cn-hangzhou.aliyuncs.com/fonts/FFDINPro.otf');
}
